@font-face {
    font-family: 'Choco';
    src:
        url(../fonts/chocoRaindrops/Choco.ttf), url(../fonts/chocoRaindrops/ChocoHollow.ttf), url(../fonts/chocoRaindrops/ChocoBold.ttf);
}

@font-face {
    font-family: 'Bavista';
    src: url(../fonts/bavista/Bavista.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    height: fit-content;
    background-color: #1d0d00;
}

#topnavbar {
    display: flex;
    width: 100vw;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    background-color: #502400;
    position: fixed;
    z-index: 1000;
    transition: 0.5s ease-out;
}

#topnavbar * {
    color: #FFFFFF;
    font-size: 24px;
}

#navtitle {
    display: block;
    cursor: pointer;
}

#navtitle img {
    height: 80px;
    padding: 5px;
}

#topnavbar>ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#topnavbar>ul li a {
    display: block;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    padding: 10px;
}

#carousel {
    --width: 100vw;
    --height: 700px;
    width: var(--width);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel img {
    width: var(--width);
    height: var(--height);
    object-fit: cover;
    transition: 1s;
    filter: brightness(50%) blur(5px);
    position: absolute;
    opacity: 0;
}

#carousel div {
    z-index: 10;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 80px;
    text-shadow: 0 0 30px #FFFFFF;
}

#carousel div span:first-of-type {
    font-size: 50px;
    font-family: 'Choco';
    font-weight: bold;
}

#carousel div span:last-of-type {
    font-size: 100px;
    font-family: 'Bavista';
    margin: 0;
}

#featured {
    width: 100vw;
    height: 500px;
    padding-top: 30px;
    background-color: #FFFFFF;
    display: block;
    position: initial;
}

#featured .partTitle {
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 60px;
    font-weight: bold;
}